{% macro PayOnDeliveryForm(formId='PayOnDeliveryForm', formClass=false, description=false, aggrementModal='#salesModal') %}
  {% if caller %}
    {{ caller() }}
  {% else %}
    <form id="{{ formId }}" class="{{ formClass }}">
      {% csrf_token %}
      <div class="font-weight-normal mb-3">
        {% if description %}
          {{ description }}
        {% else %}
          {{ _('Bu ödeme seçeneğinde kapıda nakit veya kapıda kredi kartı ile ödeme metodlarından birisini seçip siparişinizi tamamlamanız gerekmektedir.') }}
        {% endif %}
      </div>
      <div>
        <div class="pb-2 mb-2 border-bottom">
          <div class="d-flex align-items-center">
            <span>1.</span>
            <span class="pl-2">{{ _('KAPIDA ÖDEME METODU SEÇİNİZ') }}</span>
          </div>
          <div class="d-flex flex-column mt-2" id="PayOnDeliveryMethodList"></div>
        </div>
        <div>
          <div class="d-flex align-items-center">
            <span>2.</span>
            <span class="pl-2">{{ _('SİPARİŞİ TAMAMLAYINIZ') }}</span>
          </div>
          <div class="mt-2">
            <label class="d-flex align-items-center mb-3">
              <input class="js-checkout-agreement-input" name="agreement" type="checkbox">
              <div><a href="{{ aggrementModal }}" data-toggle="modal">{{ _('Uzaktan Satış Sözleşmesi') }}</a>{{ _('\'ni okudum ve kabul ediyorum.') }}</div>
            </label>
            <div class="js-error-non_field_errors error" style="display: none;"></div>
            <button id="PayOnDeliveryCompleteButton" type="submit" class="btn btn-dark w-100 pz-button__action rounded-0 bg-dark p-2 d-block">{{ _('ALIŞVERİŞİ TAMAMLA') }}</button>
          </div>
        </div>
      </div>
    </form>
    {# Partial Templates #}
      <div id="PayOnDeliveryMethodTemplate" class="d-none">
        <label class="d-flex align-items-center">
          <input class="mr-2 js-pay-on-delivery-method" type="radio" value="%_value_%" name="payment_choice" %_checked_%>
          <span class="ml-1">%_label_%</span>
          <span class="ml-2">%_price_%</span>
        </label>
      </div>
    {# End Partial Templates #}
  {% endif %}
{% endmacro %}